<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mypro.dao.ChatMapper">
    <resultMap id="BaseResultMap" type="org.mypro.entity.Chat">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="senderid" jdbcType="INTEGER" property="senderid"/>
        <result column="senderidentity" jdbcType="VARCHAR" property="senderidentity"/>
        <result column="sendername" jdbcType="VARCHAR" property="sendername"/>
        <result column="receiverid" jdbcType="INTEGER" property="receiverid"/>
        <result column="receiveridentity" jdbcType="VARCHAR" property="receiveridentity"/>
        <result column="receivername" jdbcType="VARCHAR" property="receivername"/>
        <result column="sendtime" jdbcType="VARCHAR" property="sendtime"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="isread" jdbcType="VARCHAR" property="isread"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, senderid, senderidentity, sendername, receiverid, receiveridentity, receivername, 
    sendtime, message, isread, type
  </sql>
    <select id="selectByExample" parameterType="org.mypro.entity.ChatExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_chat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_chat
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_chat
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="org.mypro.entity.ChatExample">
        delete from t_chat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="org.mypro.entity.Chat">
    insert into t_chat (id, senderid, senderidentity, 
      sendername, receiverid, receiveridentity, 
      receivername, sendtime, message, 
      isread, type)
    values (#{id,jdbcType=INTEGER}, #{senderid,jdbcType=INTEGER}, #{senderidentity,jdbcType=VARCHAR}, 
      #{sendername,jdbcType=VARCHAR}, #{receiverid,jdbcType=INTEGER}, #{receiveridentity,jdbcType=VARCHAR}, 
      #{receivername,jdbcType=VARCHAR}, #{sendtime,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{isread,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="org.mypro.entity.Chat">
        insert into t_chat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="senderid != null">
                senderid,
            </if>
            <if test="senderidentity != null">
                senderidentity,
            </if>
            <if test="sendername != null">
                sendername,
            </if>
            <if test="receiverid != null">
                receiverid,
            </if>
            <if test="receiveridentity != null">
                receiveridentity,
            </if>
            <if test="receivername != null">
                receivername,
            </if>
            <if test="sendtime != null">
                sendtime,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="isread != null">
                isread,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="senderid != null">
                #{senderid,jdbcType=INTEGER},
            </if>
            <if test="senderidentity != null">
                #{senderidentity,jdbcType=VARCHAR},
            </if>
            <if test="sendername != null">
                #{sendername,jdbcType=VARCHAR},
            </if>
            <if test="receiverid != null">
                #{receiverid,jdbcType=INTEGER},
            </if>
            <if test="receiveridentity != null">
                #{receiveridentity,jdbcType=VARCHAR},
            </if>
            <if test="receivername != null">
                #{receivername,jdbcType=VARCHAR},
            </if>
            <if test="sendtime != null">
                #{sendtime,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="isread != null">
                #{isread,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="org.mypro.entity.ChatExample" resultType="java.lang.Long">
        select count(*) from t_chat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_chat
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.senderid != null">
                senderid = #{record.senderid,jdbcType=INTEGER},
            </if>
            <if test="record.senderidentity != null">
                senderidentity = #{record.senderidentity,jdbcType=VARCHAR},
            </if>
            <if test="record.sendername != null">
                sendername = #{record.sendername,jdbcType=VARCHAR},
            </if>
            <if test="record.receiverid != null">
                receiverid = #{record.receiverid,jdbcType=INTEGER},
            </if>
            <if test="record.receiveridentity != null">
                receiveridentity = #{record.receiveridentity,jdbcType=VARCHAR},
            </if>
            <if test="record.receivername != null">
                receivername = #{record.receivername,jdbcType=VARCHAR},
            </if>
            <if test="record.sendtime != null">
                sendtime = #{record.sendtime,jdbcType=VARCHAR},
            </if>
            <if test="record.message != null">
                message = #{record.message,jdbcType=VARCHAR},
            </if>
            <if test="record.isread != null">
                isread = #{record.isread,jdbcType=VARCHAR},
            </if>
            <if test="record.type != null">
                type = #{record.type,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_chat
        set id = #{record.id,jdbcType=INTEGER},
        senderid = #{record.senderid,jdbcType=INTEGER},
        senderidentity = #{record.senderidentity,jdbcType=VARCHAR},
        sendername = #{record.sendername,jdbcType=VARCHAR},
        receiverid = #{record.receiverid,jdbcType=INTEGER},
        receiveridentity = #{record.receiveridentity,jdbcType=VARCHAR},
        receivername = #{record.receivername,jdbcType=VARCHAR},
        sendtime = #{record.sendtime,jdbcType=VARCHAR},
        message = #{record.message,jdbcType=VARCHAR},
        isread = #{record.isread,jdbcType=VARCHAR},
        type = #{record.type,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="org.mypro.entity.Chat">
        update t_chat
        <set>
            <if test="senderid != null">
                senderid = #{senderid,jdbcType=INTEGER},
            </if>
            <if test="senderidentity != null">
                senderidentity = #{senderidentity,jdbcType=VARCHAR},
            </if>
            <if test="sendername != null">
                sendername = #{sendername,jdbcType=VARCHAR},
            </if>
            <if test="receiverid != null">
                receiverid = #{receiverid,jdbcType=INTEGER},
            </if>
            <if test="receiveridentity != null">
                receiveridentity = #{receiveridentity,jdbcType=VARCHAR},
            </if>
            <if test="receivername != null">
                receivername = #{receivername,jdbcType=VARCHAR},
            </if>
            <if test="sendtime != null">
                sendtime = #{sendtime,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="isread != null">
                isread = #{isread,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.mypro.entity.Chat">
    update t_chat
    set senderid = #{senderid,jdbcType=INTEGER},
      senderidentity = #{senderidentity,jdbcType=VARCHAR},
      sendername = #{sendername,jdbcType=VARCHAR},
      receiverid = #{receiverid,jdbcType=INTEGER},
      receiveridentity = #{receiveridentity,jdbcType=VARCHAR},
      receivername = #{receivername,jdbcType=VARCHAR},
      sendtime = #{sendtime,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      isread = #{isread,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>